---
import type { GuideFrontmatter } from "@types";
import { getCollection } from "astro:content";
import PostPreview from "src/components/PostPreview.astro";
import Container from "src/layouts/Container.astro";
import MainLayout from "src/layouts/MainLayout.astro";

// const allGuides = await Astro.glob<GuideFrontmatter>("../guides/*.mdx");

const allGuides = await getCollection("guides");
---

<MainLayout>
  <header class="mx-auto mt-9 max-w-5xl px-6 sm:px-8">
    <div class="h-[30rem] bg-neutral-100">
      <h1 class="text-3xl font-bold tracking-tight">Coffee Guides</h1>
    </div>
  </header>
  <section class="my-12 mx-auto max-w-4xl px-6 sm:px-8">
    <h2 class="text-center text-4xl font-bold tracking-tight">
      How we curate brew guides
    </h2>
    <p class="mx-auto mt-4 max-w-2xl text-center text-lg text-neutral-600">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nostrum
      repudiandae expedita sed voluptatum, neque deleniti consequatur.
      Praesentium modi perspiciatis.
    </p>
  </section>
  <section class="mx-auto mt-12 max-w-5xl px-6 sm:px-8">
    <div
      class="my-8 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2 lg:grid-cols-3"
    >
      {allGuides.map((guide) => <PostPreview guide={guide} />)}
    </div>
  </section>
</MainLayout>
