---
import CheckIcon from "../components/CheckIcon.astro";
import DownArrow from "../components/DownArrow.astro";
import MainLayout from "../layouts/MainLayout.astro";

const steps = [
  {
    body: "Etiam pretium iaculis justo. In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus. Nulla ut erat id mauris vulputate elementum. Nullam varius. Nulla facilisi. Cras non velit nec nisi vulputate nonummy. Maecenas tincidunt lacus at velit. Vivamus vel nulla eget eros elementum pellentesque.",
  },
  {
    body: "Donec odio justo, sollicitudin ut, suscipit a, feugiat et, eros. Vestibulum ac est lacinia nisi venenatis tristique. Fusce congue, diam id ornare imperdiet, sapien urna pretium nisl, ut volutpat sapien arcu sed augue. Aliquam erat volutpat. In congue. Etiam justo. Etiam pretium iaculis justo. In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.",
  },
  {
    body: "Sed sagittis. Nam congue, risus semper porta volutpat, quam pede lobortis ligula, sit amet eleifend pede libero quis orci. Nullam molestie nibh in lectus.",
  },
  {
    body: "In est risus, auctor sed, tristique in, tempus sit amet, sem.",
  },
  {
    body: "Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat. Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede. Morbi porttitor lorem id ligula.",
  },
  {
    body: "Sed ante. Vivamus tortor. Duis mattis egestas metus. Aenean fermentum. Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh.",
  },
  {
    body: "Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede. Morbi porttitor lorem id ligula.",
  },
  {
    body: "Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum. In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo. Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.",
  },
];

const gear = [
  "Aeropress Brewer",
  "Aeropress Filter",
  "Coffee",
  "Coffee Grinder",
  "Mug",
  "Water",
];
---

<MainLayout>
  <article class="mb-12">
    <header
      class="grid grid-cols-1 md:grid-cols-12 w-full border-b border-neutral-900"
    >
      <div class="bg-sky-100 md:col-span-7"></div>
      <div class="py-24 md:col-span-5 px-8 max-w-2xl mx-auto">
        <div class="flex space-x-4">
          <div
            class="rounded-full px-4 py-0.5 border flex items-center justify-center border-neutral-900"
          >
            <p
              class="inset-0 mt-0.5 text-xs tracking-wider uppercase font-bold"
            >
              Guides
            </p>
          </div>
        </div>

        <h1 class="text-4xl mt-6">
          <span class="font-bold block">The Only Aeropress Guide</span>
          <span class="font-serif italic block">You'll Ever Need</span>
        </h1>

        <p class="mt-4 mb-8 text-xl">
          Readymade food truck health goth actually chia four loko. Mukbang
          gochujang tbh, gentrify synth meditation trust fund normcore. DSA
          pinterest sustainable.
        </p>

        <button
          class="border border-neutral-900 px-6 py-2 font-semibold text-lg flex items-center justify-center transition-all ease-in-out hover:bg-neutral-900 hover:text-white"
        >
          <span>Check it out</span>
          <DownArrow class="h-5 w-5 stroke-2 ml-2" />
        </button>
      </div>
    </header>

    <!-- <div class="max-w-2xl mx-auto flex flex-col items-center my-24">
      <h2 class="text-7xl font-bold tracking-tighter">Why Aeropress?</h2>
    </div> -->

    <div class="grid grid-cols-1 lg:grid-cols-2 my-28 px-6 sm:px-8">
      <div class="flex justify-center lg:justify-end my-14">
        <div class="max-w-xl">
          <h2 class="text-8xl font-bold tracking-tighter">Why Aeropress?</h2>
          <p class="text-xl font-medium mt-5">
            Typewriter cronut meggings vibecession, small batch ugh narwhal
            vinyl migas knausgaard bushwick big mood.
          </p>
          <div class="grid grid-cols-2 mt-6">
            <ul class="flex flex-col space-y-1">
              <li class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center">
                  <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
                </span>
                <span class="text-xl pl-8">Lorem dup</span>
              </li>
              <li class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center">
                  <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
                </span>
                <span class="text-xl pl-8">Bushwick dopamine</span>
              </li>
              <li class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center">
                  <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
                </span>
                <span class="text-xl pl-8">Shady spice</span>
              </li>
            </ul>
            <ul class="flex flex-col space-y-1">
              <li class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center">
                  <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
                </span>
                <span class="text-xl pl-8">Chia four loko</span>
              </li>
              <li class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center">
                  <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
                </span>
                <span class="text-xl pl-8">Sriracha Brooklyn</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="w-full aspect-h-5 aspect-w-7">
        <img src="/assets/ben-moreland-1Yje-NZrrME-unsplash.jpg" alt="a person making coffee with an aeropress brewer" class="object-cover" />
      </div>
    </div>

    <div class="py-20 bg-neutral-200">
      <h2
        class="text-center text-6xl sm:text-7xl font-bold tracking-tighter"
      >
        What You&apos;ll Need
      </h2>
      <p class="text-2xl text-center">Check out our recommendations!</p>
      
      <div class="grid my-8 grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-6 max-w-3xl mx-auto px-6 sm:px-8">
        {
          Array(7)
            .fill(0)
            .map((_) => (
              <div class="w-full border border-black h-16 bg-white shadow-sm rounded-lg" />
            ))
        }
      </div>
      <!-- <div class="flex justify-center space-x-4">
        {
          gear.map((item) => (
            <div class="flex flex-col">
              <div class="aspect-h-8 aspect-w-7 w-48">
                <div class="bg-neutral-100 rounded-lg shadow w-full h-full" />
              </div>
              <p class="text-xl font-bold">{item}</p>
            </div>
          ))
        }
      </div> -->
    </div>

    <div class="mt-10 px-8 max-w-2xl mx-auto">
      <h2 class="font-bold text-5xl tracking-tight">The Steps:</h2>
      <ul>
        {
          steps.map(({ body }, idx) => (
            <li class="relative my-12">
              <div class="h-12 w-12 rounded-full bg-sky-100 absolute left-0" />
              <div class="text-5xl font-bold font-mono absolute z-10 left-4 top-3">
                {idx + 1}
              </div>
              <p class="pl-20 text-lg">
                <span class="font-bold">Typewriter cronut</span>
                {body}
              </p>
            </li>
          ))
        }
      </ul>
    </div>
  </article>
</MainLayout>
