---
import { getCollection } from "astro:content";
import ArrowRightIcon from "src/components/icons/ArrowRightIcon.astro";
import PostPreview from "src/components/PostPreview/PostPreview.astro";
import GutterLayout from "src/layouts/GutterLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { SEO } from "astro-seo";
import PostPreviewGrid from "src/components/PostPreview/PostPreviewGrid.astro";

const allGuides = await getCollection("guides");
---

<head>
  <SEO
    title="The Brew Guide"
    description="Brew up better coffee at home!  The Brew Guide has everything you need to get up-and-running with exceptional coffee and espresso."
  />
</head>

<MainLayout>
  <GutterLayout>
    <section class="mx-auto mt-12">
      <div class="flex items-center justify-between space-x-4">
        <h2 class="text-xl font-semibold">Latest Guides</h2>
        <div class="mt-1 h-px grow bg-neutral-300" aria-hidden="true"></div>
        <a href="/guides" class="text-neutral-600 hover:text-neutral-800">
          <span class="inline">See All</span>
          <ArrowRightIcon class="h-4 w-4 inline stroke-2" />
        </a>
      </div>
      <div class="my-8">
        <PostPreviewGrid>
          {allGuides.map((guide) => <PostPreview guide={guide} />)}
        </PostPreviewGrid>
      </div>
    </section>
  </GutterLayout>
</MainLayout>
