---
import GutterLayout from "src/layouts/GutterLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <GutterLayout>
    <h1 class="text-3xl font-bold tracking-tight">Recipes</h1>
  </GutterLayout>
</MainLayout>
