---
import Container from "../layouts/Container.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <Container>
    <h1 class="text-8xl font-bold tracking-tighter">Recipes!</h1>
  </Container>
</MainLayout>
