---
import MugLogo from "./icons/MugLogo.astro";

const year = new Date().getFullYear();
---

<footer class="mt-12 bg-neutral-800 py-12 text-white md:py-16">
  <div
    class="relative mx-auto grid max-w-3xl grid-cols-6 gap-y-8 gap-x-4 px-6 sm:px-8"
  >
    <div class="absolute inset-y-0 -left-24 flex items-center">
      <MugLogo class="h-24 w-24 text-white" fill="#262626" />
    </div>
    <div
      class="col-span-6 text-center text-5xl font-bold leading-[3.7rem] tracking-tighter md:col-span-3 md:text-left md:text-7xl"
    >
      The Brew Guide
    </div>
    <div class="col-span-2 col-start-2 md:col-span-1 md:col-start-5">
      <nav class="flex flex-col items-center md:items-start">
        <h2 class="mb-3 text-lg font-semibold tracking-wide text-white">
          Brew
        </h2>
        <a href="/guides" class="mb-1.5 text-neutral-300 hover:underline"
          >Guides</a
        >
        <a href="/guides" class="mb-1.5 text-neutral-300 hover:underline"
          >Recipes</a
        >
      </nav>
    </div>
    <div class="col-span-2 col-start-4 md:col-span-1 md:col-start-6">
      <nav class="flex flex-col items-center md:items-start">
        <h2 class="mb-3 text-lg font-semibold tracking-wide text-white">
          Gear
        </h2>
        <a href="/guides" class="mb-1.5 text-neutral-300 hover:underline"
          >Brewing</a
        >
        <a href="/guides" class="mb-1.5 text-neutral-300 hover:underline"
          >Grinding</a
        >
        <a href="/guides" class="mb-1.5 text-neutral-300 hover:underline"
          >Accessories</a
        >
      </nav>
    </div>
  </div>
  <div
    class="mx-auto mt-10 flex max-w-3xl flex-col items-center justify-between px-6 text-sm text-neutral-400 sm:flex-row sm:px-8"
  >
    <span class="order-last mt-4 sm:order-first sm:mt-0"
      >&copy; The Brew Guide {year}</span
    >
    <div class="flex flex-wrap justify-center space-x-6 md:justify-end">
      <a href="/privacy-policy" class="hover:underline hover:underline-offset-4"
        >Privacy Policy</a
      >

      <a href="/rss.xml" class="hover:underline hover:underline-offset-4">RSS</a
      >
      <a href="#" class="hover:underline hover:underline-offset-4">Sitemap</a>
    </div>
  </div>
</footer>
