---
---

<div class="bg-neutral-800 text-white py-16">
  <div class="grid grid-cols-3 max-w-2xl mx-auto">
    <div class="">
      <div class="text-7xl font-bold tracking-tighter leading-[3.7rem]">The Brew Guide</div>
    </div>
  </div>
</div>
