---
import GutterLayout from "src/layouts/GutterLayout.astro";
import MugLogo from "./icons/MugLogo.astro";
import DisappearingNavbar from "./DisappearingNavbar";
import Navlinks from "./Navlinks.astro";
---

<div class="sticky top-0 z-50 h-16 md:h-20">
  <a href="/" aria-label="Return home" class="absolute inset-y-0 left-4 xl:left-[max(16px,calc(((100vw-1280px)/2)+8px))] z-10 flex w-14 items-center">
    <MugLogo class="h-10 w-10 text-black" />
  </a>
  <DisappearingNavbar client:load>
    <GutterLayout class="h-full relative flex justify-between">

      <a
        href="/"
        class="flex items-center pl-12 text-2xl font-bold tracking-tighter md:pl-0"
      >
        <span class="hidden sm:block">The Brew Guide</span>
      </a>

      <nav class="flex items-center space-x-8">
        <Navlinks />
      </nav>
    </GutterLayout>
  </DisappearingNavbar>
</div>
