---
import GutterLayout from "src/layouts/GutterLayout.astro";
import MugLogo from "./icons/MugLogo.astro";
import DisappearingNavbar from "./DisappearingNavbar";
import Navlinks from "./Navlinks.astro";
---

<div class="sticky top-0 z-50 md:h-20 h-16">
  <GutterLayout class="h-full relative">
    <a href="/" class="absolute inset-y-0 left-3 flex w-14 items-center">
      <MugLogo class="h-10 w-10 text-black" />
    </a>

    <DisappearingNavbar client:load>
      <a
        href="/"
        class="flex items-center pl-12 text-2xl font-bold tracking-tighter md:pl-0"
      >
        <span class="hidden sm:block">The Brew Guide</span>
      </a>

      <nav class="flex items-center space-x-8">
        <Navlinks />
      </nav>
    </DisappearingNavbar>
  </GutterLayout>
</div>
