---
interface Props {
  label: string;
  color: 'black' | 'white'
}

const { label, color } = Astro.props;
---

<div
  class:list={["flex items-center justify-center rounded-full border  px-4 py-0.5", {
    'border-neutral-900 text-neutral-900': color === 'black', 
    'border-white text-white': color === 'white'
  }]}
>
  <p class="inset-0 mt-0.5 text-xs font-bold uppercase tracking-wider">
    {label}
  </p>
</div>
