---
import Tag from "./Tag.astro";

interface Props {
  tags: string[];
  color?: 'black' | 'white'
}

const { tags, color = 'black' } = Astro.props;
---

<div class="flex space-x-4">
  {
    tags.map((tag) => {
      return <Tag label={tag} color={color} />;
    })
  }
</div>
