---
import type { Image } from '@types';

interface Props {
  image: Image
}

const { image: { src, alt } } = Astro.props;
---

<div class="my-28 grid grid-cols-1 px-6 sm:px-8 lg:grid-cols-2 lg:gap-x-8">
  <div class="my-14 flex justify-center lg:justify-end">
    <div
      class="prose max-w-xl 
      prose-h2:mb-4 prose-h2:text-8xl prose-h2:font-bold prose-h2:tracking-tighter 
      prose-p:text-xl prose-p:font-medium
      prose-ul:grid prose-ul:grid-cols-2 prose-ul:px-0
      "
    >
      <slot />
    </div>
  </div>

  <div class="aspect-h-5 aspect-w-7 w-full">
    <img
      src={src}
      alt={alt}
      class="object-cover"
    />
  </div>
</div>
