---
import CheckIcon from "../icons/CheckIcon.astro";

interface Props {
  label: string;
}

const { label } = Astro.props;
---

<li class="flex">
  <div class="shrink-0 mt-1">
    <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
  </div>
  <span class="ml-2 text-xl">{label}</span>
</li>
