---
import CheckIcon from "../icons/CheckIcon.astro";

interface Props {
  label: string;
}

const { label } = Astro.props;
---

<li class="relative">
  <span class="absolute inset-y-0 left-0 flex items-center">
    <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
  </span>
  <span class="pl-8 text-xl">{label}</span>
</li>
