---
import CheckIcon from "../icons/CheckIcon.astro";

---

<div class="grid grid-cols-1 lg:grid-cols-2 my-28 px-6 sm:px-8">
  <div class="flex justify-center lg:justify-end my-14">
    <div class="max-w-xl">
      <h2 class="text-8xl font-bold tracking-tighter">Why Aeropress?</h2>
      <p class="text-xl font-medium mt-5">
        Typewriter cronut meggings vibecession, small batch ugh narwhal
        vinyl migas knausgaard bushwick big mood.
      </p>
      <div class="grid grid-cols-2 mt-6">
        <ul class="flex flex-col space-y-1">
          <li class="relative">
            <span class="absolute inset-y-0 left-0 flex items-center">
              <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
            </span>
            <span class="text-xl pl-8">Lorem dup</span>
          </li>
          <li class="relative">
            <span class="absolute inset-y-0 left-0 flex items-center">
              <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
            </span>
            <span class="text-xl pl-8">Bushwick dopamine</span>
          </li>
          <li class="relative">
            <span class="absolute inset-y-0 left-0 flex items-center">
              <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
            </span>
            <span class="text-xl pl-8">Shady spice</span>
          </li>
        </ul>
        <ul class="flex flex-col space-y-1">
          <li class="relative">
            <span class="absolute inset-y-0 left-0 flex items-center">
              <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
            </span>
            <span class="text-xl pl-8">Chia four loko</span>
          </li>
          <li class="relative">
            <span class="absolute inset-y-0 left-0 flex items-center">
              <CheckIcon class="h-5 w-5 text-emerald-700 stroke-2" />
            </span>
            <span class="text-xl pl-8">Sriracha Brooklyn</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="w-full aspect-h-5 aspect-w-7">
    <img src="/assets/ben-moreland-1Yje-NZrrME-unsplash.jpg" alt="a person making coffee with an aeropress brewer" class="object-cover" />
  </div>
</div>