---
import Footer from "../components/Footer.astro";
import Navlinks from "../components/Navlinks.astro";
import GutterLayout from "./GutterLayout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="stylesheet" href="https://use.typekit.net/tjn4tzd.css" />

    <title>The Brew Guide</title>
  </head>
  <body class="flex min-h-screen min-w-full flex-col bg-white text-neutral-900">
    <div class="sticky top-0 z-50 h-20 bg-white">
      <GutterLayout class="flex justify-between items-center h-full">
        <div class="relative">
          <div>
            <a href="/" class="text-3xl font-black tracking-tighter">The Brew Guide</a>
          </div>
        </div>
        <nav class="flex items-center space-x-8">
          <Navlinks />
        </nav>
      </GutterLayout>
    </div>
    <div class="grow">
      <slot />
    </div>
    <Footer />
  </body>
</html>
